@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@font-face{
	font-family: Muli;
	src: url(Muli/Muli-Regular.ttf);
}

:root{
	--aquila-blue: #5649cf;
	--aquila-blue-transparent: #E9E7FF;
}

*{
	padding: 0;
	margin: 0;
	font-family: Muli;
	box-sizing: border-box;
}

.page{
	height: 100vh;
	display: flex;
}

.intro-section, .form-section{
	width: 50%;
}

.intro-section{
	background-color: var(--aquila-blue-transparent, #E9E7FF);
	padding: 7px;
	width: 50%;
	height:100%;
	/*color: #ffffff;*/
	position: relative;
	padding: 30px;
}

.opt2{
	background-color: var(--aquila-blue, #5649cf);
	color: #ffffff;
}

.intro-section>div{
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*font-weight: 600;*/
	font-size: 20px;
	line-height: 35px;
	/*height: 90%;*/
	padding-left: 9px;
    margin-right: 30px;
}

.intro-section>div>div{
	margin-top: 35px;
}

svg{
	top: 20px;
	position: relative;
}

.intro-section>div>h1{
	font-style: normal;
	font-weight: 800;
	font-size: 35px;
	line-height: 45px;
}


@media (max-width: 768px){
	.page{
		display: block;
	}

	svg{
		transform: scale(.6);
	    left: -40px;
	}

	.intro-section>div>div{
		margin-top: 15px;
		font-size: 18px;
	}

	.intro-section, .form-section{
		width: 100%;
		display: block;
	}

	.intro-section>div>h1{
	    margin-top: 75px;
	    font-size: 24px;
	}
}